.carousel {
    margin: auto;
    padding: 100px;
    position: relative;
    width: 50vw; /* 50% del ancho de la pantalla */
    max-width: 800px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black; /* Asegura el fondo negro */
}


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 5px;
}

.prev { left: 10px; }
.next { right: 10px; }

button:hover {
    background: rgba(0, 0, 0, 0.8);
}


@media screen and (min-width: 500px) and (max-width: 900px) {
    .carousel {
        padding: 0;
        width:  400px;
    }
}

@media screen and (min-width: 415px) and (max-width: 500px)  {
    .carousel {
        padding: 0;
        width:  300px;
    }
}

@media screen and (max-width: 415px)  {
    .carousel {
        padding: 0;
        width:  200px;
    }
}