.category{
    padding: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images section:nth-child(n+5) {
    display: none;
}

.images{
    width: 100%;
}

.c-right-arrow{
    display: flex;
    align-items: center;
}

#category{
    padding: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.category-film{
    width: 250px;
    height: 300px;
}

#category-title{
    color: #E7BB0D;
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
}
main{
    background-color: #121212;
    height: 100%;
    padding: 0;
    color: #E7BB0D;
}

.title{
    font-weight: bold;
    width: 150px;
    margin-top: 10px;
    text-align: center;
}


@media screen and (max-width: 500px)  {
    .category{
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px)  {
    .category{
        flex-wrap: wrap;
    }
}
