.category{
    padding: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.images section:nth-child(n+5) {
    display: none;
}

.images{
    width: 100%;
}

.c-right-arrow{
    display: flex;
    align-items: center;
    padding-right: 10%;
}

#category{
    padding: 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.category-film{
    width: 250px;
    height: 300px;
    margin-bottom: 20px;
}

#category-title{
    color: #E7BB0D;
    font-size: 30px;
    margin-bottom: 30px;
    margin-left: 70px;
}
main{
    background-color: #121212;
    height: 100%;
    padding: 0;
    color: #E7BB0D;
}

.title{
    font-weight: bold;
    width: 150px;
    margin-top: 10px;
    text-align: center;
}

.image-title {
    width: 410px;
    height: 450px;
}






@media screen and (min-width: 500px) and (max-width: 1000px) {
    .category{
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 415px) and (max-width: 500px)  {
    .image-title {
        width: 260px;
        height: 300px;
    }
    .category{
        flex-wrap: wrap;
    }
    .category-film{
        width: 150px;
        height: 200px;
        margin-bottom: 20px;
    }


}

@media screen and (max-width: 415px)  {
    .image-title {
        width: 160px;
        height: 200px;
    }
    .category{
        flex-wrap: wrap;
    }

    .category-film{
        width: 150px;
        height: 200px;
        margin-bottom: 20px;
    }


}