#main-container{
    padding-top: 100px;
    display: flex;
    justify-content: center;

}

#main-section{
    padding-top:100px;
    padding-bottom:100px;
    margin-left:5%;

}

.text-input{
    padding: 10px 160px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#buttons-section{
    display: flex;
    gap: 270px;
}

@media screen and (min-width: 500px) and (max-width: 900px)  {
    #main-container{
        display: block;
        justify-items: center;
    }
    #main-section{
        padding-top:0;
        padding-bottom:100px;
        justify-content: left;
    }
    .text-input{
        padding: 10px 140px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #buttons-section{
        gap: 40%;
    }
}

@media screen and (min-width: 415px) and (max-width: 500px)  {
    #main-container{
        display: block;
        justify-items: center;
    }
    #main-section{
        padding-top:0;
        padding-bottom:100px;
        justify-content: left;
    }

    .text-input{
        padding: 10px 100px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #buttons-section{
        gap: 40%;
    }
}

@media screen and (max-width: 415px)  {
    #main-container{
        display: block;
        justify-items: center;
    }
    #main-section{
        padding-top:0;
        padding-bottom:100px;
        justify-content: left;
    }

    .text-input{
        padding: 10px 40px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #buttons-section{
        gap: 40%;
    }

}