#main-container{
    display: grid;
    grid-template-columns: 35% 65%;
}

#aside-text{
    padding: 100px 200px;
}

#main-section{
    padding: 160px 0 50px 0;
    justify-content: left;
}

.text-input{
    padding: 10px 160px;
    margin: 15px;
}

#buttons-section{
    display: flex;
    gap: 270px;
}
