.image-title{
    text-align: center;
    padding: 1%;
    display: inline-block;
}

.image-title img{
    width: 100%;
    height: 300px;
}

.image-and-text{
    color: white;
    display: flex;
}

.image-and-text *{
    padding: 5%;
}

.image-and-text-h1{
    padding: 5% 0 0 5%;
}

#slideshow{
    padding: 5%;
    width: 90%;
    height: 250px;
}

#image-and-text-right img{
    width: 322px;
    height: 428px;
}