.image-title{
    text-align: center;
    padding: 1%;
    display: inline-block;

}

.image-and-text{
    color: white;
    display: flex;
}

.image-and-text *{
    padding: 5%;
}

.image-and-text-h1{
    padding: 5% 0 0 5%;
}