<main>
    <section id="top-zone">
        <div id="user-notification">
            <div><img src="../img/film.png"></div>
            <div>LOREM IPSUM</div>
        </div>
        <div>NOTIFICACIONES</div>
    </section>
    <section class="notification-container">
        <aside id="left-screen">
            <section class="notification"></section>
            <section class="notification"></section>
            <section class="notification"></section>
            <section class="notification"></section>
        </aside>
        <aside id="right-screen">
            <section class="notificacion_mensaje"></section>
            <section class="notificacion_mensaje"></section>
        </aside>
    </section>
</main>