<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="../../css/first.css"> <!-- Enlace a tu archivo CSS -->
    <script src="script.js" defer></script> <!-- Enlace a tu archivo JS -->
</head>
<body>
<main>
    <section id="aggrupation">
        <section>
            <img class="film" src="../img/film.png" alt="">
            <figcaption class="title">Lorem Ipsum</figcaption>
        </section>
        <section>
            <img class="film" src="../img/film.png" alt="">
            <figcaption class="title">Lorem Ipsum</figcaption>
        </section>
        <section>
            <img class="film" src="../img/film.png" alt="">
            <figcaption class="title">Lorem Ipsum</figcaption>
        </section>
        <section>
            <img class="film" src="../img/film.png" alt="">
            <figcaption class="title">Lorem Ipsum</figcaption>
        </section>
        <section>
            <img class="film" src="../img/film.png" alt="">
            <figcaption class="title">Lorem Ipsum</figcaption>
        </section>

    </section>

</main>

</body>
</html>