<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Form</title>
</head>
<body>
<img src="film.png">
<p>Lorem Impsum</p>
<p>Lorem Impsum</p>

<form>
<label for="">Lorem Impsum</label>
<input type="text" id="loremimpsum-1" name="loremimpum-name">
<label for="">Lorem Impsum</label>
<input type="text" id="loremimpsum-2" name="loremimpum-name">
<label for="">Lorem Impsum</label>
<input type="text" id="loremimpsum-3" name="loremimpum-name">
<label for="">Lorem Impsum</label>
<input type="text" id="loremimpsum-4" name="loremimpum-name">
<input type="submit" value="lorem impsum">
</form>

</body>

</html>
