<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="first.css">
    <title>Form</title>
</head>
<body>
<div id="background">

<div id="form-style">
<img src="film.png" alt="logo" id="logo_form">
<p>Lorem Impsum</p>
<form>
    <label for="loremimpsum-1">Lorem Impsum</label><br>
    <input type="text" id="loremimpsum-1" name="loremimpum-name"><br>

    <label for="loremimpsum-2">Lorem Impsum</label><br>
    <input type="text" id="loremimpsum-2" name="loremimpum-name"><br>

    <label for="loremimpsum-3">Lorem Impsum</label><br>
    <input type="text" id="loremimpsum-3" name="loremimpum-name"><br>

    <label for="loremimpsum-4">Lorem Impsum</label><br>
    <input type="text" id="loremimpsum-4" name="loremimpum-name"><br>

    <label for="loremimpsum-4">Lorem Impsum</label><br>

    <input type="submit" value="lorem impsum" id="Oval-Button">
    <input type="submit" value="lorem impsum" id="Oval-Button-white">
</form>
<button class="button-RegistryOrLog">Lorem Impsum</button>
<button class="button-RegistryOrLog">Lorem Impsum</button>
<button class="button-RegistryOrLog">Lorem Impsum</button>
</div>
</div>

</body>

</html>
