<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="first.css"> <!-- Enlace a tu archivo CSS -->
    <script src="script.js" defer></script> <!-- Enlace a tu archivo JS -->
</head>
<body>
<header id="header">
    <img id="logo" src="film.png" alt="">
    <h1>Lorem Ipsum</h1>
    <p>Iniciar Sesión</p>
    <p>Perfil</p>
</header>
<nav class="container">
    <div class="left-text">
        <p>Texto1</p>
        <p>Texto2</p>
        <p>Texto3</p>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Buscar...">
    </div>
    <div class="right-text"></div>
</nav>

<main>
    <section id="parte-arriba">
        <div id="notificacion_usuario">
            <div><img src="film.png"></div>
            <div>LOREM IPSUM</div>
        </div>
        <div>NOTIFICACIONES</div>
    </section>
    <section class="notificacion_contededor">
        <aside id="left-screen">
            <section class="notificacion">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit tincidunt natoque cum lectus purus, dictum ultrices cubilia tellus auctor.</p>
                <figure class="notificacion_aviso"></figure>
            </section>
            <section class="notificacion">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit tincidunt natoque cum lectus purus, dictum ultrices cubilia tellus auctor.</p>
                <figure class="notificacion_aviso"></figure>
            </section>
            <section class="notificacion">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit tincidunt natoque cum lectus purus, dictum ultrices cubilia tellus auctor.</p>
                <figure class="notificacion_aviso"></figure>
            </section>
            <section class="notificacion">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit tincidunt natoque cum lectus purus, dictum ultrices cubilia tellus auctor.</p>
                <figure class="notificacion_aviso"></figure>
            </section>
            <section class="notificacion">
                <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit tincidunt natoque cum lectus purus, dictum ultrices cubilia tellus auctor.</p>
                <figure class="notificacion_aviso"></figure>
            </section>
        </aside>
        <aside id="right-screen">
            <section class="notificacion_mensaje">
                <p>loremipsum@gmail.com</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit tincidunt natoque cum lectus purus, dictum ultrices cubilia tellus auctor. Hendrerit penatibus luctus fermentum donec neque felis sociosqu eleifend, sem aliquam curae posuere nisi metus dui, eu consequat eros venenatis sodales arcu ante. In lacus morbi semper hac massa sem suspendisse ornare tempus ut natoque, primis est vivamus ligula mi nunc cras aliquam euismod lacinia nibh, pharetra etiam id consequat bibendum torquent iaculis tempor ultrices auctor.</p>
            </section>
        </aside>
    </section>
</main>

<footer>
    <div id="Separacion"></div>
    <section>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
    </section>
    <section>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
    </section>
    <section>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
    </section>
</footer>
</body>
</html>
