.film{
    width: 150px;
    height: 200px;
}

.reseña{
    color: white;
    padding: 5%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 160px 1fr;
}

.titulo{
    font-weight: bold;
    width: 150px;
    margin-top: 10px;
    text-align: center;
}