<img class="film" src="../img/film.png" alt="">
<p>Lorem ipsum dolor sit amet consectetur adipiscing, elit tincidunt natoque cum lectus purus, dictum ultrices cubilia tellus auctor. Hendrerit penatibus luctus fermentum donec neque felis sociosqu eleifend, sem aliquam curae posuere nisi metus dui, eu consequat eros venenatis sodales arcu ante. In lacus morbi semper hac massa sem suspendisse ornare tempus ut natoque, primis est vivamus ligula mi nunc cras aliquam euismod lacinia nibh, pharetra etiam id consequat bibendum torquent iaculis tempor ultrices auctor.</p>
<figcaption class="title">Lorem Ipsum</figcaption>
<p>Tu valoración: 0/10</p>

