
<main>
<section id="main-container">
    <aside id="aside-text">
        <section class="profile-image image-title"></section>
    </aside>
    <section id="main-section">
        <form id="form-style">
            <section class="text-input">
                <label for="name">Nombre</label><br>
                <input type="text" id="name" name="Nombre"><br>
            </section>
            <section class="text-input">
                <label for="surname">Apellido</label><br>
                <input type="text" id="surname" name="Apellido"><br>
            </section>
            <section class="text-input">
                <label for="email">email</label><br>
                <input type="email" id="email" name="email"><br>
            </section>
            <section class="text-input">
                <label for="password">Contraseña</label><br>
                <input type="password" id="password" name="Contraseña" required><br>
            </section>
            <section class="buttons-type-edit-profile">
                <a id="grey-button" href="../HTML%20Pages/index.html">Cancelar</a>
                <input id="oval-button" type="submit" value="Editar">
            </section>
        </form>
    </section>
</section>
</main>