<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi Página Web</title>
    <link rel="stylesheet" href="first.css"> <!-- Enlace a tu archivo CSS -->
    <script src="script.js" defer></script> <!-- Enlace a tu archivo JS -->
</head>
<body>
<header>
    <div id="header">
        <p>Imagen</p>
        <h1>Lorem Ipsum</h1>
        <p>Iniciar Sesión</p>
        <p>Perfil</p>
    </div>
    <div class="container">
        <div class="left-text">
            <p>Texto1</p>
            <p>Texto2</p>
            <p>Texto3</p>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Buscar...">
        </div>
        <div class="right-text"></div>
    </div>
</header>

<main>
    <p>Hola</p>
</main>

<footer>
    <div id="Separacion"></div>
    <div>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
    </div>
    <div>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
    </div>
    <div>
        <p>Lorem Ipsum</p>
        <p>Lorem Ipsum</p>
    </div>
</footer>
</body>
</html>
