<header id="header"></header>
<nav id="nav" class="container"></nav>

<main>
    <section id="top-zone">
        <div class="profile-space">
            <div id="profile-picture">
                <img id="current-photo" src="" alt="Foto actual" />
                <div id="profile-options">
                    <a routerLink="/editProfile"><span>Editar Perfil</span></a>
                    <a id="LogOut" routerLink="" (click)="logOut($event)"><span>Cerrar Sesión</span></a>
                </div>
            </div>

            <div id="UserName" #userNameDiv></div>
        </div>
        <div class="profile-space">
            <a routerLink="/notifications"><span>Notificaciones</span></a>
            <span>Lorem Ipsum</span>
        </div>
    </section>
    <h1 id="favourite-films-and-series-h1">Peliculas y Series Favoritas</h1>
    <article id ="category"></article>
</main>

<footer id="footer"></footer>