<div class="carousel">
  <button class="prev" #prev>&#10094;</button>
  <div class="carousel-container" #container>
    <div class="carousel-slide" #slides><img class= "image-carousel" src="https://pics.filmaffinity.com/shingeki_no_kyojin_attack_on_titan-890399004-large.jpg"></div>
    <div class="carousel-slide" #slides><img class= "image-carousel" src="https://pics.filmaffinity.com/snow_white-841837411-large.jpg"></div>
    <div class="carousel-slide" #slides><img class= "image-carousel" src="https://pics.filmaffinity.com/the_wild_robot-598191664-large.jpg"></div>
  </div>
  <button class="next" #next>&#10095;</button>
</div>
