<main>
    <h1>Mis Reviews</h1>
<article id="review-container" *ngFor="let review of reviews; let i = index">
    <section *ngIf="isEditing === i">
        <input [(ngModel)]="review.review" />
        <button (click)="callSaveReview(i)">Guardar</button>
    </section>

    <section *ngIf="isEditing !== i">
        <h1>{{review.film}}: {{review.review}}</h1>
        <section id="botones">
            <button (click)="callUpdateReview(i)">Editar</button>
            <button (click)="callDeleleReview(i)">Eliminar</button>
        </section>
    </section>
</article>
</main>